h1 {
  text-decoration: underline;
}
body {
  background-color: #48a1f5;
}
.div-gral-pq {
  padding: 100px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1800px;
  gap: 65px;
}
.bloque-grafico {
  flex: 1;
}
.bloque-grafico img {
  align-items: center;
  width: 100%;
  max-width: 900px;
}
.div-txt-por {
  padding: 30px;
  flex: 1;
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
}
.div-txt-por h2 {
  font-weight: bolder;
  font-size: 60px;
}
.div-txt-por p {
  font-size: 30px;
}
.div-gral-loq {
  padding: 180px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1800px;
  gap: 65px;
}
.loque-txt {
  padding: 0px 90px;
  flex: 1;
  color: #000000;
  font-family: Roboto;
  line-height: 1.6;
  font-size: 35px;
}
